<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TrafficWarden.Config"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TrafficWarden.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TrafficWarden.Config>
      <setting name="WinWidth" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="WinHeight" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="isFullScreen" serializeAs="String">
        <value>False</value>
      </setting>
    </TrafficWarden.Config>
  </userSettings>
  <applicationSettings>
    <TrafficWarden.Config>
      <setting name="TileSize" serializeAs="String">
        <value>64</value>
      </setting>
    </TrafficWarden.Config>
  </applicationSettings>
</configuration>